*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a {
    width: 150px;
    height: 150px;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    text-decoration: none;
}
a:hover{
    background-color: #ddd;
}
img{
    width: 150px;
    height:150px;
}
p{
    margin: 0 0 10px 0;
    color:#222;
    font-size: 12px;
    font-weight: 500;
}